<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>board-jsp</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
   	<param-name>INIT_PARAM</param-name>
  	<param-value>web.xml에서 만든 초기화 매개값</param-value>
  </context-param> <!-- jsp에서 web.xml 값을 가져오는 연습 -->
  
	<context-param>
	<param-name>OracleDriver</param-name>
	<param-value>oracle.jdbc.OracleDriver</param-value>
	</context-param>
	
	<context-param>
	<param-name>OracleUrl</param-name>
	<param-value>jdbc:oracle:thin:@localhost:1521:orcl</param-value>
	</context-param>
	
	<context-param>
	<param-name>OracleId</param-name>
	<param-value>musthave</param-value>
	</context-param>
	
	<context-param>
	<param-name>OraclePw</param-name>
	<param-value>1234</param-value>
	</context-param>
	
</web-app>